<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button (click)="onGetAllProducts()" class="btn btn-outline-info ms-2">
        All
      </button>
    </li>
    <li>
      <button
        (click)="onGetSelectedProducts()"
        class="btn btn-outline-info ms-2"
      >
        Selected
      </button>
    </li>
    <li>
      <button
        (click)="onGetAvailableProducts()"
        class="btn btn-outline-info ms-2"
      >
        Available
      </button>
    </li>
    <li>
      <button (click)="onNewProduct()" class="btn btn-outline-info ms-2">
        New
      </button>
    </li>
  </ul>
  <ul class="navbar navbar-nav ms-auto">
    <li>
      <form #f="ngForm" (ngSubmit)="onSearchProducts(f.value)">
        <div
          class="d-flex justify-content-between gap-2 align-items-center pe-4"
        >
          <input ngModel name="keyword" type="text" class="form-control" />
          <button class="btn btn-outline-info">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </li>
  </ul>
</nav>
